.about {
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    text-align: center; 
}


.inf-content button {
    font-size: 1.2rem;
}

span{
    color: var(--secundary-color);
}

.about img{
    grid-column: 1/5;
    border: 7px solid var(--secundary-color);
}

.about #bienvenidos {
    grid-column: 5/10;
    color: #fff;
    display: inline;
}

.about #blog{
    color: var(--primery-color);
}

